@import url(https://unpkg.com/fixedsys-css/css/fixedsys.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* --con-color: #79bfff; */
  --con-color: #0e719d;

  --light-con-color: #139fce50;
  --second-con-color: #139fce;
  --contrast-color: #0ba5ec;
  --an-con-color: #6461fc;
  --con-dark-color: #3330cb;
  --contrast-color-light: #6a93f8;
  --sec-bg: #79bfff38;
  --main-font-color: #010101;
  --bg-img: #f9fafb;
  --main-bg: #f5f5f5f5;
  --shadow-color: #e5ded8;
  --div-bg-option: #f7f1eb;
  --soft-text-color: #7f7873;
  /* --soft-text-color: #b8b4b1; */

  --trans-duration: 0.6s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  color: #444;
  background: var(--main-bg);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--sec-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--con-color);
  border-radius: 10px;
}
section {
  width: 100%;
  height: 100vh;
}
.section1 {
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
    at top right,
    var(--light-con-color) 0%,
    #cb38ff00 43%
  );

  position: relative; /* for the side nav  */
}
nav,
.nav-links,
.logo,
.nav-link {
  display: flex;
  align-items: center;
}
.sticky-nav {
  background-color: var(--main-bg);
  position: fixed;
}
.nav-link a,
.side-nav-link a {
  color: #444;
}
.nav-links,
.logo {
  height: 100%;
}
.logo h1,
.sponsors h1 {
  font-family: "Roboto", "sans-serif";
  font-weight: 800;
  font-size: 2rem;
}
.logo h1 {
  letter-spacing: -0.1rem;
}
nav {
  height: 100px;
  width: 100%;
  padding: 0 9rem;
  margin-bottom: 3rem;
  justify-content: space-between;
  z-index: 50;
  transition: var(--trans-duration);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav-link {
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  height: 50%;
  position: relative;
  transition: 0.5s;
}
.active-nav-link {
  background-color: #79bfff38;
  border: 1px solid var(--con-color);
}
.nav-link::after {
  content: "";
  height: 0.2rem;
  width: 0%;
  background-color: var(--con-color);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}
.side-nav {
  position: fixed;
  width: 0;
  height: 100%;
  background-color: var(--main-bg);
  background-image: radial-gradient(
    at bottom left,
    var(--light-con-color) 0%,
    #cb38ff00 43%
  );
  z-index: 55;
  transition: 0.8s;
  top: 0;
  left: 0;
}
.active-side-nav {
  padding: 1.5rem 2rem;
  width: 100%;
}
.side-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3rem;
}
.side-nav-header i {
  font-size: 1.8rem;
  font-weight: 400;
}
.close-nav {
  transition: 0.5s;
}
.close-nav:hover {
  transform: rotate(180deg);
}
.side-nav-links {
  margin-left: 0.5rem;
}
.side-nav-link {
  margin-bottom: 0.1rem;
  font-size: 1.1rem;
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-nav-link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #79bfff38;
  transition: var(--trans-duration);
}
.side-nav-link:hover::after {
  width: 100%;
}
.side-nav-link:hover a {
  color: var(--con-color);
}
.logo img {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.5rem;
}
/* <-----------------------------------------------------------> */
.btn {
  height: 2.7rem;
  font-size: 1rem;
  border: none;
  transition: 1.2s;

  font-family: "Poppins";
}
.btn i {
  margin-right: 0.5rem;
}
.login-btn {
  width: 8rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.reg-btn {
  height: 2.7rem;
  width: 12rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.slide2 .read-btn {
  background-color: #444;
}
.reg-btn:hover,
.login-btn {
  background-image: linear-gradient(180deg, #139fce 0%, var(--con-color) 100%);
  color: var(--main-bg);
}

.login-btn:hover,
.reg-btn {
  color: #010101;
  background-image: linear-gradient(
    180deg,
    var(--main-bg) 0%,
    var(--main-bg) 0%
  );
}
.login-btn:hover {
  border: 1px solid #444;
}
.login-side-nav {
  display: flex;
  align-items: center;
}
.bars {
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
}
.bar {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  display: block;
  background-color: #010101;
  transition: 0.5s;
}
.bars:hover .bar {
  /* background-color: var(--con-color); */
  width: 100%;
}
.bar2 {
  width: 65%;
}
.bar3 {
  width: 85%;
}
.slider {
  display: flex;
  position: relative;
  overflow: hidden;
}
.slider,
.slide {
  width: 91rem; /* 100rem */
  height: 42rem;
  border-radius: 0.5rem;
}
.slide {
  position: absolute;
}
.slide,
.dot {
  transition: 0.8s;
}
.dots {
  width: 54px;
  height: 1rem;
  position: absolute;
  bottom: 20%;
  display: flex;
  justify-content: space-between;
}
.dot {
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--con-color);
  border-radius: 50%;
}
.dot:hover {
  background-color: var(--con-color);
}
.active-dot {
  background-color: var(--con-color);
}
.slide1,
.slide3 {
  display: grid;
  grid-template-columns: 5fr 3fr;
}
.right-content {
  width: fit-content;
  width: -moz-fit-content;
  background-image: radial-gradient(
    at center center,
    var(--con-color) 0%,
    #cb38ff00 60%
  );
}
.slide1 .right-content {
  position: relative;
}
.slide1 .right-content .daily-limit {
  width: 26rem;
  height: 13rem;
  position: absolute;
  filter: none;
  left: -18%;
  bottom: 10%;
}
.slide2 {
  position: relative;
}
.slide2 .left-content h1 {
  /* color: var(--con-color); */
  color: #ffffff;
}
.right-content img {
  height: 42rem;
}
.slide2 video {
  height: 53rem;
}
/* .slide2 video, */
.right-content img {
  filter: brightness(100%) contrast(100%) saturate(0%);
}
.slide2 .vid-cont {
  position: relative;
}
.slide2 .vid-cont::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.25;
}

.sponsors {
  width: 100%;
  height: 6rem;
  padding: 0 9rem;
  display: flex;
  margin-top: 3rem;
}
.sponsors h1 {
  margin: 0 21rem 0 10rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.sponsors h1 span {
  padding-left: 2rem;
  font-size: 2rem;
}
.sponsor {
  width: 10rem;
  height: 6rem;
  display: grid;
  place-items: center;
}
.left-content {
  padding: 0 0 0 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hash {
  font-size: 1.1rem;
  width: 15rem;
  padding: 0 0.5rem;
  color: var(--con-color);
  background-color: #ffffff;
  border-radius: 1rem;
  height: 2rem;
  display: grid;
  place-items: center;
  box-shadow: 0px 1px 3px 0px #1018281f;
  margin-bottom: 0.5rem;
}
.left-content h1 {
  font-size: 4.5rem; /*5*/
  letter-spacing: -5px;
  margin-bottom: 0.5rem;
  line-height: 5rem;
}
.in-client-comment {
  display: flex;
  align-items: center;
}
.left-content p {
  margin-bottom: 3rem;
}
.client-comment p,
.left-content p,
.features-title p {
  font-family: "Poppins";
  font-size: 1rem;
  opacity: 0.7;
}
.client-comment p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.cl-img {
  background-color: var(--light-con-color);
  width: fit-content;
  width: -moz-fit-content;
  margin-right: 2rem;
}
.cl-img,
.cl-img img {
  height: 3rem;
  border-radius: 50%;
}
.read-btn {
  height: 3.5rem;
  width: 10rem;
  border-radius: 2rem;
  border: none;
  background-color: #010101;
  color: var(--main-bg);
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  transition: 1.2s;
  position: relative;
}
.slide2 .left-content {
  position: absolute;
  top: 50%;
  z-index: 30;
  transform: translateY(-50%);
}
.slide2 .left-content {
  color: var(--main-bg);
}
.slide2 .left-content p {
  opacity: 0.5;
  color: #020101;
}
.slide2 {
  overflow: hidden;
}

.slide3 .right-content img {
  filter: none;
  right: -2%;
  position: absolute;
  bottom: -8%;
}
.slide3 .left-content {
  margin-bottom: 8rem;
}
.slide3 .left-content h1 {
  width: 49rem;
  line-height: 5rem;
  font-weight: 400;
}
.slide3 {
  align-items: flex-end;
}
.slide3 .right-content img {
  height: 39rem;
}
.highlighted {
  position: relative;
  z-index: 1;
  font-weight: 800;
  padding: 0 1rem;
}
.highlighted::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
  /* background-color: #79beff8a; */
  background-color: #139fce70;

  z-index: -1;
  transition: var(--trans-duration);
  transform: skew(-15deg);
}
.highlighted:hover:after {
  height: 90%;
}
.slide2 .highlighted::after {
  background-color: #444;
}
.deactivate {
  display: none;
}
.section2,
.section3 .section4 {
  width: 100%;
}
.section2 {
  height: 70vh;
  background-color: #f5f5f5f5;
  display: flex;
  justify-content: center;
}

.section2,
.features-sum {
  height: fit-content;
}
.sec-header {
  margin-bottom: 6rem;
}
.sec-header h1,
.sec-header p,
.features-sum,
.features-shapes {
  display: flex;
  justify-content: center;
}
.sec-header h1 {
  font-size: 3rem;
}
.sec-header p {
  font-size: 1.1rem;
  color: var(--soft-text-color);
}
.features-shapes {
  justify-content: space-between;
  /* margin-top: 3rem; */
}

.features-sum {
  width: 91rem;
  padding: 3rem 0;
  flex-direction: column;
  margin-bottom: 10rem;
}

.feature-shape {
  position: relative;
  /* margin: 5rem 2rem 0 2rem; */
  width: 28rem;
  padding: 3rem 1rem;
  display: flex;
}
.feature-shape::after,
.feature-shape::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--con-color);
  transition: var(--trans-duration);
  transform: skew(-15deg);
}
.feature-shape::after {
  height: 2px;
  width: 0;
}
.feature-shape::before {
  height: 0;
  width: 2px;
}
.feature-shape:hover::after {
  width: 100%;
}
.feature-shape:hover::before {
  height: 100%;
}
.feature-shape2::after {
  width: 100%;
}
.feature-shape2::before {
  height: 100%;
}
.feature-content {
  text-align: center;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 23rem;
  justify-content: center;
  position: relative;
  padding: 3rem 0.3rem;
}

.feature-content::after,
.feature-content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--con-color);
  transition: var(--trans-duration);
  transform: skew(-15deg);
}
.feature-content::after {
  height: 2px;
  width: 0;
}
.feature-content::before {
  height: 0;
  width: 2px;
}
.feature-content:hover::after {
  width: 100%;
}
.feature-content:hover::before {
  height: 100%;
}
.feature-content2::after {
  width: 100%;
}
.feature-content2::before {
  height: 100%;
}
.feature-content2 {
  background-color: #79bfff38;
}
.feature-content .main-title {
  margin-bottom: 0.5rem;
  font-size: 18px;
  color: var(--con-color);
  font-weight: 500;
}
.feature-content h2 {
  font-size: 22px;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.feature-content .main-description {
  font-size: 16px;
  margin-bottom: 1.5rem;
  color: #444;
  opacity: 0.6;
  font-weight: 500;
}

.section3 .sec-header p {
  justify-content: flex-start;
}
.feature-content a,
.sec3-content a {
  display: block;
  color: #444;
  transition: var(--trans-duration);
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  border-bottom: 1px solid #444;
  z-index: 30;
}
.feature-content a::after,
.sec3-content a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #444;
  width: 100%;
  height: 0%;
  z-index: -1;
  transform: translate(0px, 5px);
  /* border-radius: 2rem; */
  transition: var(--trans-duration);
  transform: skew(-15deg);
}
.feature-content a i,
.sec3-content a i {
  padding: 0.2rem;
  margin-left: 0.3rem;
  transition: var(--trans-duration);
}
.feature-content a:hover,
.sec3-content a:hover {
  color: var(--con-color);
  border: 1px solid var(--con-color);
}
.feature-content a:hover::after,
.sec3-content a:hover::after {
  height: 120%;
}

.feature-content a:hover i,
.sec3-content a:hover i {
  background-color: var(--con-color);
  color: #f5f5f5f5;
  transform: rotate(90deg);
}

/* --------------------------------------------- */
.section3 {
  height: fit-content;
  background-image: url(img/features-div-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  position: relative;
}
.section3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1a1c23;
  opacity: 0.7;
}
.sec3-content {
  width: 90rem;
  margin: 4rem 3rem;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec3-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.sec3-head h1 {
  font-size: 3rem;
  color: #ffffff;
}
.sec3-head p {
  color: #c9c5c2;
  font-size: 1.1rem;
}
.sec3-icon {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  border-bottom: 1px solid #ffffff;
  position: relative;
  z-index: 30;
  transition: var(--trans-duration);
}
.sec3-icon i {
  color: #ffffff;
  transition: var(--trans-duration);
}
.inner-feature-icons .ri-icon {
  position: relative;
  transition: var(--trans-duration);
  z-index: 30;
}

/* <-------------------------the transition fo the after pseudo code --------------------------------------> */
.hov-trans-back::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: #444;
  transition: var(--trans-duration);
  transform: skew(-15deg);
  z-index: -1;
}
.hov-trans-back:hover {
  border: 1px solid var(--con-color);
}
.hov-trans-back:hover i {
  color: var(--con-color);
  transform: rotate(360deg);
}
.hov-trans-back:hover::after {
  height: 110%;
}
/* <---------------------------------------------------------------> */

.sec3-opts,
.sec3-opt {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}
.sec3-opt {
  padding: 1rem;
  position: relative;
  transition: var(--trans-duration);
  z-index: 30;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.opt-ind {
  margin-right: 3rem;
}

.sec3-opt p {
  color: var(--con-color);
}
.sec3-opt-icon i {
  margin-left: 2rem;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
}
.sec4-slider-btn {
  border: none;
}
/* <-------------------------the transition on click--------------------------------------> */
.cli-trans-back::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 110%;
  bottom: 0;
  left: 0;
  background-color: #444;
  transform: skew(-15deg);
  z-index: -1;
  transition: var(--trans-duration);
}

.cli-trans-back {
  border: 1px solid var(--con-color);
}
.cli-trans-back i {
  color: var(--con-color);
}
/* <---------------------------------------------------------------> */
.sec3-feature {
  margin: 2rem;
  width: 100%;
  height: fit-content;
  display: flex;
}
.sec3-inner-feature {
  width: 28rem;
  height: 25rem;
  margin-right: 2rem;
  background-color: var(--main-bg);
  padding: 3rem 2rem;
  /* transform: skew(-5deg); */
  transition: var(--trans-duration);
}
.sec3-inner-feature .ri-icon {
  border-bottom: 1px solid var(--con-color);
}
.sec3-feature-com {
  display: none;
}
.inner-feature-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-feature-icons .right-icon {
  font-size: 1.9rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;

  transition: var(--trans-duration);
}

.inner-feature-icons .left-icon {
  font-size: 5rem;
}
.sec3-inner-feature h1 {
  font-size: 1.39rem;
  line-height: 30px;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
  transition: var(--trans-duration);
}
.sec3-inner-feature p {
  color: var(--soft-text-color);
}
.sec3-inner-feature .line-load {
  width: 100%;
  height: 0.5rem;
  background: #7f78736b;
  margin: 2rem 0;
  border-radius: 0.25rem;
  position: relative;
}
.sec3-inner-feature .colored-span {
  color: var(--con-color);
  font-size: 1rem;
}
.sec3-inner-feature .line-load::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 20%;
  border-radius: 0.25rem;
  transition: var(--trans-duration);
  transform: transition ease-in-out;
  background-image: radial-gradient(at top center, #79bfff38 0%, #0e719d 100%);
}
.sec3-inner-feature:hover .line-load::after {
  width: 100%;
}
.sec3-inner-feature:hover h1 {
  color: var(--con-color);
}
.sec3-content a {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.section4 {
  padding: 4rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.section4 h1 {
  font-size: 3rem;
}
.section4 p {
  color: var(--soft-text-color);
  /* margin-bottom: 4rem; */
}
.sec4-slider {
  width: 80%;
  height: 30rem;
  transform: translateX(25rem);
  display: flex;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
}
.sec4-slide {
  width: 30rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--trans-duration);
}
.sec4-slide:hover i {
  transform: rotate(360deg);
}
.sec4-slider-btns {
  transform: translateX(-17rem);
}
.sec4-slider-btn {
  height: 3rem;
  width: 3rem;
  position: relative;
  background-color: transparent;
  z-index: 30;
  outline: none;
}
.sec4-slider-left i {
  transform: rotate(-180deg);
}
.slide-content {
  width: 75%;
  height: 100%;
  background: #ffffff;
  position: relative;
}
.slide-content img {
  width: 100%;
  height: 22rem;
  margin-bottom: 1rem;
  transition: var(--trans-duration);
}
.slide-content p {
  margin: 0;
  padding: 0 1rem;
}
.sec4-slide-overlay {
  transform: translate(7rem, -13rem);
  height: 5rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-image: -webkit-linear-gradient(
    180deg,
    #139fce 0%,
    var(--con-color) 100%
  );
}
.sec4-slide-overlay h1 {
  font-size: 1.5rem;
  color: #ffffff;
}
.sec4-slide-overlay i {
  font-size: 1.5rem;
  transition: var(--trans-duration);
  color: var(--con-color);
}
.slide-content:hover i {
  transform: rotate(360deg);
}
.section5 {
  height: fit-content;
  padding: 4rem 3rem;
  background-color: #79bfff38;
}
.section5 .sec-header p,
.service-slide h1 {
  color: var(--soft-text-color);
}
.services,
.services-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-slider {
  width: 60rem;
  height: 12rem;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}
.service-slide {
  width: 13rem;
  height: 12rem;
  /* border: 1px solid var(--con-color); */
  position: absolute;
  transition: var(--trans-duration);

  display: grid;
  place-items: center;
  padding: 1rem;
}
.slider-content,
.service-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-btn {
  width: 3rem;
  height: 3rem;
  background: transparent;
  color: var(--con-color);
  margin: 0rem 1rem;
  font-size: 1.4rem;
  border-radius: 50%;
  padding-left: 0.7rem;
  position: relative;
}
.circ-trans-back::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: var(--trans-duration);
  background-image: -webkit-linear-gradient(
    180deg,
    #139fce 0%,
    var(--con-color) 100%
  );
  border-radius: 50%;
  z-index: -1;
}
.circ-trans-back:hover::after {
  width: 100%;
  height: 100%;
}
.circ-trans-back:hover i {
  color: var(--main-bg);
}
.service-btn:focus {
  border: none;
  outline: none;
}
.service-icon {
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: var(--trans-duration);
  position: relative;
  font-size: 2rem;
}
.service-slide .circ-trans-back::after {
  height: 100%;
  width: 100%;
  z-index: -1;
}
.service-slide .service-icon i,
.service-slide1 h1 {
  color: var(--con-color);
}
.service-slide .circ-trans-back i {
  color: var(--main-bg);
}

.service-slide h1 {
  font-size: 1.1rem;
  text-align: center;
}
.services-sections-content {
  width: 60rem;
  height: 25rem;
  margin-top: 3rem;
  position: relative;
}
.service-section {
  /* border: 1px solid var(--con-color); */
  border-radius: 0.5rem;
  width: 100%;
  /* height: 100%; */
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--trans-duration);
  padding: 3rem 2rem;
}
.service-section ul {
  display: flex;
  align-items: space-around;
  justify-content: space-evenly;
  flex-direction: column;
}
.service-section ul li a {
  font-size: 1.1rem;
  color: var(--con-color);
  margin: 2rem 0;
}
.service-section ul li {
  margin: 1rem 0;

  border-bottom: 1px solid #0e729d38;
}

.deactivate-opc {
  opacity: 0;
  z-index: 0;
}

.service-section .img-container,
.service-section,
.service-section .supply-contact {
  display: flex;
}
.service-section {
  justify-content: space-between;
  z-index: 30;
  background-image: url(img/dots-bg.webp);
  background-size: cover;
}
.service-section .img-container {
  height: fit-content;
  width: 36rem;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid var(--con-color);
}
.service-section .supply-contact {
  width: 22rem;
  height: 18.5rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service-section .supply-contact i {
  height: 5rem;
  width: 5rem;
  display: grid;
  place-items: center;
  font-size: 2rem;
  border-radius: 50%;
  color: var(--main-bg);
  margin-bottom: 2rem;
  position: relative;
  z-index: 30;
}
.service-section .circ-trans-back::after {
  width: 100%;
  height: 100%;
}
.service-section .supply-contact .second-h1 {
  color: var(--con-color);
}
.service-section .img-container img {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 50%);
}
.service-section .img-container img {
  filter: brightness(100%) contrast(100%) saturate(0%);
}
.section6 {
  width: 100%;
  height: fit-content;
  padding: 4rem 3rem;
}
.section6 .sec-container {
  display: flex;
  justify-content: center;
}
.section6 .sec-img img {
  height: 35rem;
}
.section6 .sec-content {
  margin-left: 5rem;
  padding: 2rem;
  width: 35rem;
}
.section6 .sec-content h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}
.section6 .sec-content .description {
  font-size: 1rem;
  color: var(--soft-text-color);
  margin-bottom: 2rem;
  letter-spacing: 1px;
}
.section6 .sec-content .icon {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}
.section6 .sec-content .icon i {
  margin-right: 0.5rem;
  color: var(--con-color);
}
.section6 .sec-content h2 {
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.credit-btn {
  width: 14rem;
  background-color: #010101;
  border-radius: 1.5rem;
  position: relative;
}
.credit-btn::after,
.read-btn::after {
  content: "";
  position: absolute;
  height: 0;
  width: 100%;

  background-image: -webkit-linear-gradient(
    180deg,
    #139fce 0%,
    var(--con-color) 100%
  );
  transition: var(--trans-duration);
  bottom: 0;
  left: 0;
  z-index: 0;
  border-radius: 1.5rem;
}
.read-btn::after {
  border-radius: 2rem;
}
.read-btn:hover::after,
.credit-btn:hover::after {
  height: 100%;
}

.credit-btn a,
.read-btn a {
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.section7 {
  height: 50rem;
  position: relative;
  height: fit-content;
}
.section7::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(/img/concurrency-statistics.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0.25rem);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.sec-overlay {
  width: 100%;
  height: fit-content;
  padding: 4rem 15rem;
}
.section7 .sec-header h1,
.sec7-btns .right-btn a {
  color: var(--main-bg);
}
.sec7-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.sec7-btns .btn {
  background-color: transparent;
  padding: 1rem 1rem;
  color: var(--main-bg);
  text-align: center;
  height: 4rem;
}
.sec7-btns .right-btn i {
  font-size: 1.5rem;
  color: var(--con-color);
}
.left-btns {
  display: flex;
}
.clicked-btn,
.another-clicked-btn {
  position: relative;
  border: none;
}
.clicked-btn::before,
.clicked-btn::after,
.another-clicked-btn::after,
.another-clicked-btn::before {
  content: "";
  position: absolute;
  transition: var(--trans-duration);
  background-color: var(--con-color);
  z-index: 30;
}
.clicked-btn::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
}
.clicked-btn::after {
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
}
.clicked-btn:hover::before {
  width: 100%;
}
.clicked-btn:hover::after {
  width: 0;
}
.another-clicked-btn::before {
  bottom: 0;
  left: 0;
  width: 1px;
  height: 100%;
}
.another-clicked-btn::after {
  top: 0;
  right: 0;
  width: 1px;
  height: 0;
}
.another-clicked-btn:hover::before {
  height: 0;
}
.another-clicked-btn:hover::after {
  height: 97%;
}
.btn-class {
  border: 0.1px solid #fff3;
  margin: 0 1rem;
}
.cards-container {
  height: fit-content;
  width: 89.25rem;
  margin: 3rem 0;
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}
.cards-container .country-card {
  height: 16.5rem;
  border: 0.1px solid #fff3;
  padding-top: 0.8rem;
}
.country-card .card-img img {
  padding: 0.5rem;
  border-radius: 50%;
  border-top: 0.1px solid #fff3;
}
.country-card h3,
.country-card .card-img {
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}
.country-card h3 {
  color: var(--main-bg);
}
.country-card .send,
.country-card .receive {
  width: 100%;
  height: 3.5rem;
  background: #ffffff1a;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color: #b8b4b1;
}
.country-card .send span {
  margin-left: 2rem;
  margin-right: 2rem;
}
.country-card .receive span {
  margin-left: 0.6rem;
  margin-right: 2rem;
}
.country-card .receive {
  border-top: 0.1px solid #fff3;
}
@media (max-width: 950px) {
  nav {
    padding: 0 2rem;
  }
  .nav-links {
    display: none;
  }
  .sponsors h1 {
    margin: 0 2rem 0 0;
  }
  .right-content {
    display: flex;
    align-items: center;
  }
  .slider,
  .features-sum {
    width: 56rem;
  }
  .slide2 video {
    height: 42rem;
    position: relative;
  }

  .slide2 h1 {
    font-size: 4rem;
  }
  .sponsors {
    padding: 0 2rem;
  }
  .left-content {
    padding: 0 1rem;
  }
  .slide3 .right-content img {
    height: 33rem;
    right: 25%;
    bottom: -5%;
    z-index: -1;
  }
  .slide3 .left-content .read-btn {
    margin-bottom: 16.5rem;
  }
  .slide1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56rem;
    overflow-y: scroll;
  }
  .slide1::-webkit-scrollbar {
    display: none;
  }
  .slide3 .left-content {
    margin-top: 5rem;
  }
  .features-sum {
    padding: 3rem 0;
  }
  .feature-shape {
    margin-bottom: 2rem;
  }
  .features-shapes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec3-content {
    width: 50rem;
  }
  .sec3-features {
    display: flex;
  }
  .sec3-feature {
    flex-direction: column;
    align-items: center;
  }
  .sec3-inner-feature {
    margin-bottom: 2rem;
    margin-right: 0;
  }
  .sec4-slider {
    transform: translateX(0rem);
    width: 53rem;
  }
  .sec4-slider-btns {
    transform: translateX(-11rem);
  }
  .services-slider,
  .services-sections-content {
    width: 45rem;
  }
  .section5 {
    padding-bottom: 10rem;
  }
  .services-sections-content {
    height: 35rem;
  }
  .service-section {
    flex-direction: column;
  }
  .service-section .img-container {
    width: 100%;
    margin-top: 2rem;
  }
  .service-section ul {
    display: block;
  }
  .section6 {
    padding: 4rem 1rem;
  }
  .section6 .sec-content {
    margin-left: 0;
    padding-top: 0;
  }
  .section7::after {
    background-position: right;
  }
  .sec-overlay {
    padding: 4rem 3rem;
  }
  .sec7-btns .right-btn {
    display: none;
  }
  .cards-container {
    width: 52.3rem;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (min-width: 1000px) {
  .bars,
  .side-nav {
    display: none;
  }
}
